body {
  position: relative;
  width: 350px;
  height: auto;
  padding: 0px;
  margin: 0px;

  /* background: rgba(244, 244, 244, 0.7); */
  /* 여전히 고민 중 */

  /* 불투명도 확인하려고 넣어본 테스트용 백그라운드이미지 */
  /* background-image: url(../화면\ 캡처\ 2023-02-03\ 033610.jpg); */
}

.wrap {
  position: relative;
  width: 320px;
  /* height: auto; */
  min-height: 100vh;
  /* vh -> 뷰포트 높이 : 사용자 뷰의 100퍼센트 */

  padding: 25px 15px;
  margin-bottom: 50px;
  background: rgba(244, 244, 244, 0.7);
}

.dir {
  position: relative;
  width: 304px;
  min-height: 60px;
  height: auto;
  /* width는 컨텐트 기준.. 패딩 계산  */

  padding-left: 16px;
  margin: 0px;

  background: #ffffff;
  border-radius: 20px;
}

/* dir 이름 길어졌을 때 어떻게 처리할지 얘기 안 함 */
.dir-text {
  height: 60px;

  margin: 0px;
  color: #000000;
  font-weight: 800;
  /* 피그마 폰트 웨이트는 800설정인데 그대로 해도 느낌이 다른데.. */
  line-height: 60px;
  /* font-size: 32px; */
  /* 피그마에서는 32px던데.. 적용하니까 너무 큰데????? */

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dir-title {
  /* overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
}

.dir-list {
  margin-bottom: 9px;

  /* 일단 잘리게 해놨는데 어떻게 할지 고민 */
  /* overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
}

.keyword-box {
  position: relative;
  width: 304px;

  margin-top: 28px;
  margin-bottom: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;

  background: #34a853;
  border-radius: 15px;
  /* 키워드 박스만 border-radius: 15px; 인 이유가 있겠지??*/
}

.keyword {
  display: inline-block;
  margin: 0px 35px 0px 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  color: #ffffff;
}

.toggle_keyword {
  position: absolute;
  margin-top: -7px;
  /* 이미지 높이의 절반값 */
  top: 50%;
  right: 16px;
}

.path_template {
  position: relative;

  width: 304px;
  height: 51px;

  margin-bottom: 7px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 16px;

  background: #ffffff;
  border-radius: 20px;
}

li {
  list-style-type: none;
}

a {
  height: 51px;

  text-decoration: none;
  color: #4f4f4f;
  font-size: 14px;
  vertical-align: middle;
  /* line-height: 17px; */
}

/* 페이지 제목과 링크는 길이 넘어가면 자동 숨김처리 함 */
/* 넘친 부분에 대해서 마우스 오버시 보이게 하기 등의 조작 필요 */
a > h3 {
  width: 288px;
  height: 21.6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0px;
}

a > p {
  text-decoration: underline;

  width: 288px;
  height: 21.6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 텍스트 마우스 오버 효과 */
/* 근데 무작정 이렇게 뜨게 하면 되는것인가.. */
/* 디자인은? 말풍선으로? 아니면 밑으로 떨어지게 디자인? */
.dir-text:hover,
a > h3:hover,
a > p:hover {
  overflow: visible;
}

#addButton {
  position: relative;
  width: 304px;

  margin-bottom: 23px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;

  background: #34a853;
  border-radius: 15px;
}

#addButton > h2 {
  margin: 0px;

  font-size: 18px;
  color: #ffffff;
}

footer {
  position: fixed;
  /* width: inherit; */
  /* vscode로 봤을 땐 바디 자체가 350px로 잘 잡혀서 괜찮았는데..
  새창으로 볼 땐 오류나서 일단 수정
  나중에 플러그인으로 들어갈 땐 괜찮은지 확인 후 코드 수정 */
  width: 350px;
  height: 75px;
  bottom: 0px;

  margin: 0px;
  padding: 0px;

  background-color: #ffffff;
}

.footer-button {
  position: absolute;
  top: 50%;
  margin-top: -15px;
}

#button-folder {
  left: 30px;
}

/* #icon-folder-true {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
} */
/* png => dropshadow / but drop shadow는 inset 허용 x */

#button-start {
  right: 71px;
}

#button-stop {
  right: 27px;
}
